{
  "presets": ["next/babel", "@emotion/babel-preset-css-prop"],
  "plugins": [
    ["inline-react-svg", { "svgo": false }],
    "emotion",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
